.visual-PBI_CV_146ADA04_62C6_4009_AEF0_A1E2370BF39C_DEBUG {
  
}
.visual-PBI_CV_146ADA04_62C6_4009_AEF0_A1E2370BF39C_DEBUG .overflowingText {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
}
.visual-PBI_CV_146ADA04_62C6_4009_AEF0_A1E2370BF39C_DEBUG .day {
  fill: #fff;
  stroke: #ccc;
}
.visual-PBI_CV_146ADA04_62C6_4009_AEF0_A1E2370BF39C_DEBUG .month {
  fill: none;
  stroke-width: 0.2px;
}
